<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guruproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_earth"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_earth_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mypage"/>
        <activity android:name=".CreateUserActivity" />
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".loadview" />
        <activity android:name=".RecyclerView">
        </activity>
        <activity android:name=".CalendarActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DailyActivity" />
        <activity android:name=".TreeActivity" />
    </application>

</manifest>
